.inform {
  padding-bottom: 50px;
  border-bottom: 1px solid #07c;
}

.title_large {
  padding: 50px;
  text-align: center;
  color: #07c;
  font-weight: lighter;
}

.article {
  display: flex;
  justify-content: space-between;
  border-top: 20px;
  padding: 50px;
}

.articleall {
  margin: 10px 60px;
}
.articleone {
  height: 100px;
  border-bottom: 1px dotted gray;
  border-top: 1px dotted gray;
}
.more {
  margin-left: 1150px;
}
.title {
  color: #07c;
  font-size: 20px;
}

.allbtn {
  margin: 100px;
  padding: 10px;

  border: 1px solid gray;
  border-radius: 10%;
}
.btn {
  width: 190px;
  height: 40px;
}

.btn:active {
  color: red;
}
