.allother{
    border-bottom: 1px solid cadetblue;
   
}

.middle{
    margin: 100px;
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
}

.link{
    font-size: 18px;
    padding: 15px;
    border-top: 1px dotted grey;
    border-bottom: 1px dotted grey;
    width: 500px;
    justify-content: center;
}